// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: lighten(#373b41, 5%);
@dark-gray: #282a2e;
@quite-dark-gray: #090909;
@very-dark-gray: #050707;

@cyan: lighten(#5c9991, 5%);
@purple: lighten(#361e3d, 15%);
@red: #cc6666;

@green: d#718a1e;
@dark-green: darken(#718a1e, 5%);
@blue-green: lighten(#124d2d, 15%);


@light-blue: @purple; // It is... totally...
@medium-light-blue: lighten(@blue, 15%);
@blue: #4e7bad;
@medium-blue: darken(@blue, 5%);
@dark-blue: lighten(#1a3e66, 15%);

@dark-orange: lighten(#ad5400, 4%);
@orange: lighten(#ad7036, 10%);
@light-orange: lighten(#de905f, 10%);
